@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 204 70% 98%;
      --foreground: 204 50% 0%;
      --muted: 204 29% 88%;
      --muted-foreground: 204 4% 33%;
      --popover: 204 70% 98%;
      --popover-foreground: 204 50% 0%;
      --card: 204 70% 97%;
      --card-foreground: 0 0% 0%;
      --border: 220 13% 91%;
      --input: 220 13% 91%;
      --primary: 204 77% 47%;
      --primary-foreground: 0 0% 100%;
      --secondary: 204 9% 91%;
      --secondary-foreground: 204 9% 31%;
      --accent: 204 15% 85%;
      --accent-foreground: 204 15% 25%;
      --destructive: 15 94% 38%;
      --destructive-foreground: 0 0% 100%;
      --ring: 204 77% 47%;
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 204 50% 0%;
      --foreground: 204 25% 97%;
      --muted: 204 29% 12%;
      --muted-foreground: 204 4% 67%;
      --popover: 204 50% 0%;
      --popover-foreground: 204 25% 97%;
      --card: 0 0% 1%;
      --card-foreground: 204 25% 98%;
      --border: 215 27.9% 16.9%;
      --input: 215 27.9% 16.9%;
      --primary: 204 77% 47%;
      --primary-foreground: 0 0% 100%;
      --secondary: 204 18% 14%;
      --secondary-foreground: 204 18% 74%;
      --accent: 204 25% 19%;
      --accent-foreground: 204 25% 79%;
      --destructive: 15 94% 58%;
      --destructive-foreground: 0 0% 0%;
      --ring: 204 77% 47%;
    }
  }
  

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }